header {
    height: 60px;
}

main{
    padding: 50px;
}

header > h1{
 color: #dddddd;
}



.card {
    padding:10px;
}

.card-title {
    color: #333333;
    font-weight: 600;
}

.day-card {
    padding: 5px;
    width: 19%;
    float: left;
    margin: 2px;
    background-color:#0275d8;
    color: white;
}

.city {
    margin: 2px 15px 0px 15px;
    color: white;
} 

 #current_icon {
    width: 100px;
    background-color: #0275d8;
    border-style: solid;
    border-color: #555555;
    border-radius: 10px;
} 

#history {
    background-color: whitesmoke;
    width: 100%;
   }